@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.divContato{
    border: 3px solid white;
    /*  border: 3px solid rgba(255, 255, 255, 1);  */
    border-radius: 5px;
    width: 250%;
    display: flex;
    cursor:pointer;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;

}


.divContato:hover{
    background-color: white;
    
}

.divImagem{
    width: 20%;
    text-align: center;
    border-right: solid 3px white;
    padding: 10px;
}

img.contatoImg{
    width: 25px;
    text-align: center;
}

img.gitImg{
    text-align: center;
    width: 50px;
}

.divSpan{
    display: flex;
    width: 80%;
}

span{
    text-align: right;
    margin: auto;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

@media only screen and (max-width: 600px){
    .divContato{
        width: 100%;
        border: 3px solid white;
    }

}