@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.verMais{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 20vh;
    

    width: 7%;
    height: 105px;
    
    background-color: rgba(29, 22, 105, 0.2);
    cursor: pointer;
    align-items: center;
    border-radius: 100px;
    border-style: none;
    
}
.verMais:hover{
    background-color: rgba(17, 1, 46, 0.45);
}

.verMais span{
    color: #00d8ff;
    margin-bottom: 5px;
    
}

.downArrowImg{
    margin-top: 0px;
    margin-bottom: 15px;
    width: 40%;
    
}

@media only screen and (max-width: 600px){
    .verMais{
        width: 40%;
        margin-top: 55%;
    }

    .verMais span{
        font-size: 100%;
    }
}

@media only screen and (max-width: 900px){
    .verMais{
        width: 40%;
        
    }
}

@media only screen and (max-width: 1199px){
    .verMais{
        width: 30%;
        
    }
}